<?xml version="1.0" encoding="UTF-8"?>
<configuration scanPeriod="60 seconds" debug="true">
  <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
  <property name="LOG_HOME" value="${user.dir}/logs/" />

  <!--通用日志 格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
  <!-- <property name="commonPattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n" /> -->
  <!-- <property name="commonPattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{50}:%line - %msg%n" /> -->
  <property name="commonPattern" value="%d{HH:mm:ss.SSS} |-%level in %logger{50}:%line - %msg%n" />

  <!-- 控制台输出 -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- 日志输出编码 -->
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${commonPattern}</pattern>
      <encoding>UTF-8</encoding>
    </encoder>
  </appender>

  <!-- 按照每天生成日志文件 -->
  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <!--日志文件输出的文件名-->
      <fileNamePattern>${LOG_HOME}/SmartPutty.%d{yyyy-MM-dd}.log</fileNamePattern>
      <!-- 最多保留2天的文件 -->
      <maxHistory>2</maxHistory>
      <!-- 启用时 清理日志文件 -->
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>${commonPattern}</pattern>
      <encoding>UTF-8</encoding>
    </encoder>
  </appender>

  <!-- 异步-日志打印 -->
  <appender name="ASYNC-FILE" class="ch.qos.logback.classic.AsyncAppender">
    <includeCallerData>true</includeCallerData>
    <appender-ref ref="FILE" />
  </appender>

  <!-- 日志输出级别 -->
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="ASYNC-FILE" />
  </root>

</configuration>